/* frontend/src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add any custom styles here */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
